/*
 *
 *  Hi there, have a look at my source files here:
 *  https://github.com/stefanRitter/
 *
 */

@import base

// ********************************************************************************** GLOBALS

$active-color: #CC0E5A

$menuHidden: -90%

//switch to mobile view below this value
$breakpoint: 715px

//when menu is rotated horizontally for small screens its position needs to be corrected
$rotatedDisplacement: -6em
$rotatedHidden: ($menuHidden + 32%)

// ********************************************************************************** PLACEHOLDERS & MIXINS


// ********************************************************************************** GENERAL

canvas
  position: absolute
  top: 0
  left: 0

#loading
  visibility: hidden
  position: fixed
  top: 45%
  width: 100%
  text-align: center
  img
    display: inline-block
    height: 3em
    
// ********************************************************************************** HEADER
.mainheader
  position: fixed
  top: 3%
  left: 2%
  width: 44%
  background-color: rgba(255,255,255,0.7)
  padding: 0.5% 1% 1% 1%
  
  h1
    font: bold 2.6em/1.3em Helvetica, sans-serif
    span
      display: inline-block
      font-size: 0.9em
      +transform(translate(0, 0.03em))
    strong
      font-size: 1.3em
      font-variant: small-caps

  h2
    font: 1.6em/1.1em 'EB Garamond', serif
    em
      font-style: italic

  @media screen and (max-width: $breakpoint)
    top: 0
    left: 0
    width: auto
    font-size: 0.7em
    min-height: 10em
    padding: 2% 10% 2% 2%
      
// ********************************************************************************** NAVIGATION
.entries
  position: fixed
  top: 0
  right: 3%
  padding: 0.2em 1em

  text-align: center
  background-color: rgba(0,0,0,0.9)
  +border-bottom-right-radius(1.6em)
  +border-bottom-left-radius(1.6em)
  color: white

  ul
    list-style: none

    li
      font: 1em Helvetica, serif
      margin: 0.5em 0
      width: 8em
      overflow: hidden
      img
        width: 100%
        opacity: 0.5
        &.active
          opacity: 1
        &:hover
          opacity: 1

      @media screen and (max-width: $breakpoint)
        width: 6em

    li:last-child
      display: block
      height: 0.9em
      background: center url(../images/arrow.png) no-repeat
      background-size: auto 100%

  @media screen and (max-width: $breakpoint)
    top: 0
    right: 0
    +transform(rotate(90deg) translate($rotatedDisplacement, 4em))

// these classes are applied to slide the menu up and down
.clickUp
  +transform(translate(0, $menuHidden))
  +transition(all 0.2s ease-in-out)

  @media screen and (max-width: $breakpoint)
    +transform(rotate(90deg) translate($rotatedDisplacement, $rotatedHidden))

.clickDown
  +transform(translate(0,0))
  +transition(all 0.2s ease-in-out)

  @media screen and (max-width: $breakpoint)
    +transform(rotate(90deg) translate($rotatedDisplacement, 4em))

.hoverDownUp
  @extend .clickUp

  &:hover
    @extend .clickDown



// ********************************************************************************** FOOTER
.mainfooter
  clear: both
  position: absolute
  bottom: 0

  margin: 0 auto 2% 3%
  font: italic 1em 'EB Garamond', serif
  a
    color: black

  @media screen and (max-width: $breakpoint)
    font-size: 0.8em
    text-align: justify
    margin: 1% 3%
    
    


